/* All Colors */

$color-accent: #0366d6;
$color-accent-bg: #f1f8ff;
$color-black: #000000;
$color-header-bg: #24292e;
$color-text: #24292e;
$color-border: #444d56;
$color-tab-active: #f9826c;
$color-white: #ffffff;
