* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
  font-weight: 400;
}

input, input:focus, textarea, textarea:focus, select, option {
  border: none;
  outline: none;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

li {
  list-style: none;
}

p {
  margin: 0;
  line-height: 1;
}

a {
  text-decoration: none;
}
